<html>
<head>
    {% load static %}
    <title>:: HOME ::</title>
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/home.css' %}">
</head>

<body>

<div id="articles">

    <!-- menu bar -->
    <div class="icon-bar">
        <a href="javascript:show_home()" class="active" title="Home">
            <img src="../static/users/images/home-5-xxl.png" height="43px">
        </a>

        <a href="#" onclick="document.getElementById('search').style.display='block'" title="Search Article">
            <img src="../static/users/images/search-icon-white-one-hi.png" height="43px">
        </a> 

        <a href="#" onclick="document.getElementById('add_article').style.display='block'" title="Add Article">
            <img src="../static/users/images/icon_blog-article.png" height="43px">
        </a> 

        <a href="javascript:show_comment()" title="Show Comment">
            <img src="../static/users/images/comments-xxl.png" height="43px">
        </a>

        <a href="javascript:log_out()" onmouseover="change_log_out_color()" onmouseout="remove_color_logout()" title="Log Out">
            <img id="logout" src="../static/users/images/logout.png" height="43px">
        </a> 
    </div>

    <!-- clock -->
    <div id="mySidenav" class="sidenav">
        <p id="clock"></p>
    </div>
{% block body %}
    <!-- show article -->
    <div id="show_article">
        {% for article in articles %}
        <div id="{{article.id}}">
            <button class="accordion"><span class="title_color"> Title : </span><label>{{article.title}}</label></button>
            <div class="panel" style="max-height: 160px">
                <p><span class="title_color"> text : </span><label>{{article.text}}</label></p>
                <p><span class="title_color"> keyword : </span><label>{{article.keyword}}</label></p>
                {% if article.score  %}
                    <p><span class="title_color"> score : </span>
                        {% load filter%}
                        {% for index in article.score|times %}
                            <img  src="../static/users/images/star_gold.png" width="23px">
                        {%endfor%}
                    </p>
                {% else %}
                    <div id="score{{article.id}}" style="cursor: pointer">
                        <div id="star{{article.id}}" onmouseout="delete_star({{article.id}})">
                            <p><span class="title_color"> score : </span>
                            <span onmouseover="change_star1({{article.id}})" onmouseout="back_star1({{article.id}})" onclick="submit_add_score(1 , {{article.id}})">
                                <img id="star1_{{article.id}}" src="../static/users/images/star.png" width="23px">
                            </span>
                            <span onmouseover="change_star2({{article.id}})" onmouseout="back_star2({{article.id}})" onclick="submit_add_score(2 , {{article.id}})"> 
                                <img id="star2_{{article.id}}" src="../static/users/images/star.png" width="23px">
                            </span>
                            <span onmouseover="change_star3({{article.id}})" onmouseout="back_star3({{article.id}})" onclick="submit_add_score(3 , {{article.id}})">
                                <img id="star3_{{article.id}}" src="../static/users/images/star.png" width="23px">
                            </span>
                            <span onmouseover="change_star4({{article.id}})" onmouseout="back_star4({{article.id}})" onclick="submit_add_score(4 , {{article.id}})">
                                <img id="star4_{{article.id}}" src="../static/users/images/star.png" width="23px">
                            </span>
                            <span onmouseover="change_star5({{article.id}})" onmouseout="back_star5({{article.id}})" onclick="submit_add_score(5 , {{article.id}})">
                                <img id="star5_{{article.id}}" src="../static/users/images/star.png" width="23px">
                            </span>
                        </div>
                    </div>
                {% endif %}
                <button id="delete" class="button" onclick="delete_article({{article.id}})" type="button"><span>Delete</span></button>
                <button id="edit" class="button" onclick="edit_article({{article.id}},'{{article.title}}','{{article.text}}','{{article.keyword}}')" type="button"><span>Edit</span></button>
                <div><button id="comment" class="button" onclick="comment_article({{article.id}})" type="button"><span>Comment</span></button></div>
            </div>
        </div>
        {% endfor %}
    </div>
        
    <!-- add article -->
    <div id="add_article" class="modal">
        <form class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('add_article').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../static/users/images/notebook.png" alt="Avatar" class="avatar" title="add article">
            </div>

            <div class="container">
                <label><b>TITLE : </b></label>
                <input type="text" placeholder="Enter Title" id="title_add" required>

                <label><b>TEXT :</b></label>
                <textarea placeholder="Enter Text" id="text_add" rows="10" required></textarea>
                    
                <label><b>KEY WORD :</b></label>
                <input type="text" placeholder="Enter Keyword" id="keyword_add" required>

                <center><button class="button" type="submit" onclick="submit_add_article()"><span>Submit Article</span></button></center>
            </div>

        </form>
    </div>

    <!-- search article -->
    <div id="search" class="modal">
        <form class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('search').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="../static/users/images/search.png" alt="Avatar" class="avatar" title="search article">
            </div>

            <div class="container">
                <label><b>KEY WORD :</b></label>
                <input type="text" placeholder="Enter Keyword For Search" id="keyword_edit" required>
                <center><button class="button" type="submit" onclick="search_articles(0)"><span>Submit Article</span></button></center>
            </div>

        </form>
    </div>

    <!-- page button -->
    <center><div id="pagination" style="margin-top: 25px;margin-bottom: 6%;">
        <a href="#">&laquo;</a>
    </div></center>
{% endblock %}
    <!-- top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><p><i class="arrow up"></i></p></button>

</div>

    <!-- footer -->
    <footer>
        <a href="#" class="icon_margin" onmouseover="change_facebook()" onmouseout="back_facebook()">
            <img src="../static/users/images/facebook.png" id="image_1" width="37px">
        </a>

        <a href="https://www.instagram.com/ali.hoseinp00r" target="_blank" class="icon_margin" onmouseover="change_insta()" onmouseout="back_insta()">
            <img src="../static/users/images/instagram-logo.png" id="image_2" width="37px">
        </a>

        <a href="#" class="icon_margin" onmouseover="change_telegram()" onmouseout="back_telegram()">
            <img src="../static/users/images/telegram-logo.png" id="image_3" width="37px">
        </a>
    </footer>

    <script>

        // this functions for change icon in footer and menu and star score
        function change_star1(article_id){
            document.getElementById("star1_"+article_id+"").src = "../static/users/images/star_gold.png";
        }
        function back_star1(article_id){
            document.getElementById("star1_"+article_id+"").src = "../static/users/images/star.png";
        }
        function change_star2(article_id){
            document.getElementById("star2_"+article_id+"").src = "../static/users/images/star_gold.png";
            change_star1(article_id);
        }
        function back_star2(article_id){
            document.getElementById("star2_"+article_id+"").src = "../static/users/images/star.png"
        }
        function change_star3(article_id){
            document.getElementById("star3_"+article_id+"").src = "../static/users/images/star_gold.png";
            change_star1(article_id);
            change_star2(article_id);
        }
        function back_star3(article_id){
            document.getElementById("star3_"+article_id+"").src = "../static/users/images/star.png"
        }
        function change_star4(article_id){
            document.getElementById("star4_"+article_id+"").src = "../static/users/images/star_gold.png";
            change_star1(article_id);
            change_star2(article_id);
            change_star3(article_id);
        }
        function back_star4(article_id){
            document.getElementById("star4_"+article_id+"").src = "../static/users/images/star.png"
        }
        function change_star5(article_id){
            document.getElementById("star5_"+article_id+"").src = "../static/users/images/star_gold.png";
            change_star1(article_id);
            change_star2(article_id);
            change_star3(article_id);
            change_star4(article_id);
        }
        function back_star5(article_id){
            document.getElementById("star5_"+article_id+"").src = "../static/users/images/star.png"
        }
        function delete_star(article_id){
            back_star1(article_id);
            back_star2(article_id);
            back_star3(article_id);
            back_star4(article_id);
            back_star5(article_id);
        }
        function change_facebook(){
            document.getElementById("image_1").src = "../static/users/images/facebookblue.png"
        }
        function back_facebook(){
            document.getElementById("image_1").src = "../static/users/images/facebook.png"
        }
        function change_insta(){
            document.getElementById("image_2").src = "../static/users/images/instagram.png"
        }
        function back_insta(){
            document.getElementById("image_2").src = "../static/users/images/instagram-logo.png"
        }
        function change_telegram(){
            document.getElementById("image_3").src = "../static/users/images/telegram-logoblue.png"
        }
        function back_telegram(){
            document.getElementById("image_3").src = "../static/users/images/telegram-logo.png"
        }
        function change_log_out_color(){
            document.getElementById("logout").src = "../static/users/images/logoutred.png";
        }
        function remove_color_logout(){
            document.getElementById("logout").src = "../static/users/images/logout.png";
        }

        // log out
        function log_out(){
            location.href = '/user/sign_out'
        }
        
        // Get the modal
        var modal = document.getElementById('add_article');
        var modal_search = document.getElementById('search');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            if (event.target == modal_search) {
                modal_search.style.display = "none";
            }
        }

        // submit adding article
        function submit_add_article(){
            var title = document.getElementById("title_add").value;
            var text = document.getElementById("text_add").value;
            var keyword = document.getElementById("keyword_add").value;
            if (title.length > 0 && text.length > 0 && keyword.length > 0){
                var postreq = 'title='+title+'&text='+text+'&keyword='+keyword;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var result = JSON.parse(xhttp.responseText);
                        if(result["error_len"] == true ){
                            alert("Please Fill This Field !!")
                        }
                        else if (result["add_success"] ==  true){
                            alert("Adding Succesfull !!")
                            location.href = "/home/"
                            
                        }
                        else if (result["error_login"] == true ){
                            location.href = "/user/sign-in/"
                        }
                        else if (result["exist_article"] == true ){
                            alert("in article mojood ast !!")
                        }
                        else{
                            alert("Error in posting data")
                        }
                    }
                };
                xhttp.open("POST", "/add_article/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(postreq);
            }
            else{
                alert("Fill All The Field !!")
            }
        }

        // for load more
        function page_button(counter){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    var articles = document.getElementById("show_article");
                    part3 = "" ; part7 = "" ; part5 = "" ; part2 ="" ; part4 = "";  
                    for(i=0 ; i < result["article"].length ; i++ ){
                         part1 =
                                `<button class="accordion"><span class="title_color"> Title : </span><label>`+result["article"][i][1]+`</label></button>
                                <div class="panel" style="max-height: 160px">
                                    <p><span class="title_color"> text : </span><label>`+result["article"][i][3]+`</label></p>
                                    <p><span class="title_color"> keyword : </span><label>`+result["article"][i][2]+`</label></p>`
                                    if ( result["article"][i][4] != null){
                                        part2 = `<p><span class="title_color"> score : </span>`
                                            for (var j=0 ; j < parseInt(result["article"][i][4]) ; j++){
                                                part3 += `<img  src="../static/users/images/star_gold.png" width="23px">`
                                                part4 = `</p>`
                                            }
                                    }
                                    if ( result["article"][i][4] == null ){ 
                                        part2 = "" ; part3 = "" ; part4 = "";
                                        part5 = 
                                        `<div id="score`+result["article"][i][0]+`" style="cursor: pointer">
                                            <div id="star`+result["article"][i][0]+`" onmouseout="delete_star(`+result["article"][i][0]+`)">
                                                <p><span class="title_color"> score : </span>
                                                <span onmouseover="change_star1(`+result["article"][i][0]+`)" onmouseout="back_star1(`+result["article"][i][0]+`)" onclick="submit_add_score(1 , `+result["article"][i][0]+`)">
                                                    <img id="star1_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                </span>
                                                <span onmouseover="change_star2(`+result["article"][i][0]+`)" onmouseout="back_star2(`+result["article"][i][0]+`)" onclick="submit_add_score(2 , `+result["article"][i][0]+`)"> 
                                                    <img id="star2_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                </span>
                                                <span onmouseover="change_star3(`+result["article"][i][0]+`)" onmouseout="back_star3(`+result["article"][i][0]+`)" onclick="submit_add_score(3 , `+result["article"][i][0]+`)">
                                                    <img id="star3_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                </span>
                                                <span onmouseover="change_star4(`+result["article"][i][0]+`)" onmouseout="back_star4(`+result["article"][i][0]+`)" onclick="submit_add_score(4 , `+result["article"][i][0]+`)">
                                                    <img id="star4_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                </span>
                                                <span onmouseover="change_star5(`+result["article"][i][0]+`)" onmouseout="back_star5(`+result["article"][i][0]+`)" onclick="submit_add_score(5 , `+result["article"][i][0]+`)">
                                                    <img id="star5_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                </span>
                                            </div>
                                        </div>`
                                    }
                                    part6 = 
                                   ` <button id="delete" class="button" onclick="delete_article(`+result["article"][i][0]+`)" type="button"><span>Delete</span></button>
                                    <button id="edit" class="button" type="button" onclick="edit_article(`+result["article"][i][0]+`,'`+result["article"][i][1]+`','`+result["article"][i][3]+`','`+result["article"][i][2]+`')"><span>Edit</span></button>
                                    <div><button id="comment" class="button" onclick="comment_article(`+result["article"][i][0]+`)" type="button"><span>Comment</span></button></div>
                                </div>`;
                                
                                part7 = part7 + part1 + part2 + part3 + part4 + part5 + part6;
                                part3 = ""
                                part5 = ""
                    }
                    articles.innerHTML = part7;
                }
            }
            xhttp.open("POST", "/home/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("counter="+counter);
        }

        // submit adding score
        function submit_add_score(article_score , article_id){
            var article_score = article_score;
            var article_id = article_id;
            var postreq = 'score='+article_score+'&id='+article_id;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    if (result["error_len_score"] == true ){
                        alert("Emtiyaz Bishtar Az 5 Mibashad !!")
                    }
                    else if(result["add_score"] == true ){
                        alert("add score !!");
                        var show_score = document.getElementById("score"+article_id);
                        var p_html = `<p><span class="title_color"> score : </span>`;
                        var score = "";
                        for (var index = 0 ; index < article_score ; index++){
                            var img_html = `<img  src="../static/users/images/star_gold.png" width="23px">`;
                            var score = score + img_html;
                        }
                        score = score + `</p>`;
                        show_score.innerHTML = p_html + score ;
                    }
                    else if (result["error_login"] == true ){
                        location.href = "/user/sign-in/";
                    }
                    else{
                        alert("Error in posting data")
                    }
                }
            };
            xhttp.open("POST", "/add_score/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(postreq);
        }

        //search article
        function search_articles(counter){
            var counter = counter;
            var search_keyword = document.getElementById("keyword_edit").value;
            if (search_keyword.length > 0){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var result = JSON.parse(xhttp.responseText);
                        if (result["error_len"] == true ){
                            alert("Fill The Keyword !!");
                        }
                        else if (result["error_exits_article"] == true){
                            alert("In Maghale Mojood Nemibashad !!");
                        }
                        else if (result["error_login"] == true){
                            location.href = "/user/sign-in/";
                        }
                        else if(result["success"] == true ){
                            var button_count = result["button_count"]
                            var keyword = result["keyword"]
                            var articles = document.getElementById("show_article");
                            part3 = "" ; part7 = "" ; part5 = "" ; part2 ="" ; part4 = "";  
                            for(i=0 ; i < result["article"].length ; i++ ){
                                part1 =
                                        `<button class="accordion"><span class="title_color"> Title : </span><label>`+result["article"][i][1]+`</label></button>
                                        <div class="panel" style="max-height: 160px">
                                            <p><span class="title_color"> text : </span><label>`+result["article"][i][3]+`</label></p>
                                            <p><span class="title_color"> keyword : </span><label>`+result["article"][i][2]+`</label></p>`
                                            if ( result["article"][i][4] != null){
                                                part2 = `<p><span class="title_color"> score : </span>`
                                                    for (var j=0 ; j < parseInt(result["article"][i][4]) ; j++){
                                                        part3 += `<img  src="../static/users/images/star_gold.png" width="23px">`
                                                        part4 = `</p>`
                                                    }
                                            }
                                            if ( result["article"][i][4] == null ){ 
                                                part2 = "" ; part3 = "" ; part4 = "";
                                                part5 = 
                                                `<div id="score`+result["article"][i][0]+`" style="cursor: pointer">
                                                    <div id="star`+result["article"][i][0]+`" onmouseout="delete_star(`+result["article"][i][0]+`)">
                                                        <p><span class="title_color"> score : </span>
                                                        <span onmouseover="change_star1(`+result["article"][i][0]+`)" onmouseout="back_star1(`+result["article"][i][0]+`)" onclick="submit_add_score(1 , `+result["article"][i][0]+`)">
                                                            <img id="star1_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                        </span>
                                                        <span onmouseover="change_star2(`+result["article"][i][0]+`)" onmouseout="back_star2(`+result["article"][i][0]+`)" onclick="submit_add_score(2 , `+result["article"][i][0]+`)"> 
                                                            <img id="star2_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                        </span>
                                                        <span onmouseover="change_star3(`+result["article"][i][0]+`)" onmouseout="back_star3(`+result["article"][i][0]+`)" onclick="submit_add_score(3 , `+result["article"][i][0]+`)">
                                                            <img id="star3_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                        </span>
                                                        <span onmouseover="change_star4(`+result["article"][i][0]+`)" onmouseout="back_star4(`+result["article"][i][0]+`)" onclick="submit_add_score(4 , `+result["article"][i][0]+`)">
                                                            <img id="star4_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                        </span>
                                                        <span onmouseover="change_star5(`+result["article"][i][0]+`)" onmouseout="back_star5(`+result["article"][i][0]+`)" onclick="submit_add_score(5 , `+result["article"][i][0]+`)">
                                                            <img id="star5_`+result["article"][i][0]+`" src="../static/users/images/star.png" width="23px">
                                                        </span>
                                                    </div>
                                                </div>`
                                            }
                                            part6 = 
                                            ` <button id="delete" class="button" onclick="delete_article(`+result["article"][i][0]+`)" type="button"><span>Delete</span></button>
                                            <button id="edit" class="button" type="button" onclick="edit_article(`+result["article"][i][0]+`,'`+result["article"][i][1]+`','`+result["article"][i][3]+`','`+result["article"][i][2]+`')"><span>Edit</span></button>
                                            <div><button id="comment" class="button" onclick="comment_article(`+result["article"][i][0]+`)" type="button"><span>Comment</span></button></div>
                                        </div>`;
                                        
                                        part7 = part7 + part1 + part2 + part3 + part4 + part5 + part6;
                                        part3 = ""
                                        part5 = ""
                            }
                            articles.innerHTML = part7;
                            document.getElementById('search').style.display='none';
                            search_button(button_count);
                        }
                        else {
                            alert("Error in posting data")
                        }
                    } 
                };
                xhttp.open("POST", "/search_article/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send('search_keyword='+search_keyword+'&counter='+counter);
            }
            else{
                alert("Fill The Keyword !!")
            }
        }

        //delete article
        function delete_article(article_id){
            if (confirm("Are U Sure For Delete ?")){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (xhttp.readyState == 4 && xhttp.status == 200) {
                        var result = JSON.parse(xhttp.responseText);
                        if (result["delete"] == true){
                            alert("delete successfull");
                            location.href = "/home/";
                        }
                        else if (result["error_login"] == true ){
                            location.href = "/user/sign-in/"
                        }
                        else if (result["error_exist_article"] == true ){
                            alert("In Maghale Mojood Nemibashad !!")
                        }
                        else{
                            alert("Error in posting data")
                        }
                    }
                }
                xhttp.open("POST", "/delete_article/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("article_id="+article_id);
            }
        }

        // for show edit article
        function edit_article(id,title,text,keyword){
            var id = id;
            var articles = document.getElementById("show_article");
            var button = document.getElementById("pagination").innerHTML = "";
            articles.innerHTML = "";
            html = 
            `<div id="show_edit_comment_article" >
                <div class="animate">
                    <div class="imgcontainer">
                        <img src="../static/users/images/edit.png" alt="Avatar" class="avatar" title="edit article">
                    </div>

                    <div class="container">
                        <label><b>TITLE : </b></label>
                        <input type="text" value="`+title+`"  id="title_edit" required>

                        <label><b>TEXT :</b></label>
                        <textarea id="text_edit" rows="10" required>`+text+`</textarea>
                            
                        <label><b>KEY WORD :</b></label>
                        <input type="text" value="`+keyword+`" id="keyword_edit" required>

                        <center><button class="button" type="submit" onclick="submit_eidt_article(`+id+`)"><span>Submit Edit</span></button></center>
                    </div>

                </div>
            </div>`
            articles.innerHTML = html;
        }

        // for submit edit aricle
        function submit_eidt_article(id){
            var title = document.getElementById("title_edit").value;
            var text = document.getElementById("text_edit").value;
            var keyword = document.getElementById("keyword_edit").value;
            var id = id ;
            var postreq = 'title='+title+'&text='+text+'&keyword='+keyword+'&id='+id;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    if (result["error_len"] == true ){
                        alert("Please Fill This Field !!")
                    }
                    else if(result["exist_article"] == true ){
                        alert("in article mojood ast !!")
                    }
                    else if (result["success_edit"] == true ){
                        alert("Edit Successfull !!")
                        location.href ="/home/";
                    }
                    else{
                        alert("Error in posting data")
                    }
                }
            };
            xhttp.open("POST", "/edit_article/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(postreq);
        }

        //show_comment
        function comment_article(article_id){
            var id = article_id;
            var articles = document.getElementById("show_article");
            var button = document.getElementById("pagination").innerHTML = "";
            articles.innerHTML = "";
            html = 
            `<div id="show_edit_comment_article" >
                <div class="animate">
                    <div class="imgcontainer">
                        <img src="../static/users/images/chat.png" alt="Avatar" class="avatar" title="comment">
                    </div>

                    <div class="container">
                        <label><b>COMMENT : </b></label>
                        <textarea id="send_comment" placeholder="comment" rows="10" required></textarea>

                        <center><button class="button" type="submit" onclick="submit_comment_article(`+id+`)"><span>Submit Comment</span></button></center>
                    </div>

                </div>
            </div>`
            articles.innerHTML = html;
        }

        //for submit comment article
        function submit_comment_article(id){
            var comment = document.getElementById("send_comment").value;
            var id = id ;
            var postreq = 'comment='+comment+'&id='+id;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    if (result["error_len"] == true ){
                        alert("Please Fill This Field !!")
                    }
                    else if (result["success"] == true ){
                        alert("Send Comment Successfull !!")
                        location.href ="/home/";
                    }
                    else{
                        alert("Error in posting data")
                    }
                }
            };
            xhttp.open("POST", "/comment_article/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(postreq);
        }

        // for show home
        function show_home(){
            var xhttp = new XMLHttpRequest();
            var action = "show_home";
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    var result = JSON.parse(xhttp.responseText);
                    if (result["show_home"] == true){
                        location.href = "/home/";
                    }
                    else{
                        alert("Error in server")
                    }
                }
            }
            xhttp.open("POST", "/home/", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("action="+action);
        }

        // for go to top button
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        // clock
        var myVar = setInterval(myTimer, 1000);
        function myTimer() {
            var d = new Date();
            document.getElementById("clock").innerHTML = d.toLocaleTimeString();
        }

        // page button for home
        if ( {{button_count}} != 0 ){
            var x = document.getElementById("pagination");
            html="";
            for (j = 0 ; j < {{button_count}} ; j++){
                html += `<a id="`+(j+1)+`" href="javascript:page_button(`+j+`)">`+(j+1)+`</a>`
            }
            html = html + `<a href="#">&raquo;</a>`;
            x.innerHTML= x.innerHTML + html;
        }
        else{
            document.getElementById("pagination").style.display = "none"
        }

        //page button for search
        function search_button(button_count){
            var button = document.getElementById("pagination");
            var html1 = `<center><div id="pagination" style="margin-top: 25px;"><a href="#">&laquo;</a>`;
            html2="";
            for (j = 0 ; j < button_count ; j++){
                html2 += `<a id="`+(j+1)+`" href="javascript:search_articles(`+j+`)">`+(j+1)+`</a>`
            }
            html2 = html2 + `<a href="#">&raquo;</a></div></center>`;
            button.innerHTML = html1 + html2 ;
        }

    </script>
    
</body>
</html> 