{% load static %}
<html >
<head>
	<meta charset="UTF-8">
	<title>:: CMS ::</title>
	<link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/login-register-style.css' %}">
</head>

<body>
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
			<div class="login-form">
				<div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" class="input" onblur="check_user_sign_in()">
						<center><p style="color: red" id="user_onblur"></p></center>
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" onblur="check_pass_sign_in()">
						<center><p style="color: red" id="pass_onblur"></p></center>
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span> Keep me Signed in</label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign In" onclick="sign_in()">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div>
				</div>
				<div class="sign-up-htm">
					<div class="group">
						<label for="user_sign_up" class="label">Username</label>
						<input id="user_sign_up" type="text" class="input" >
					</div>
					<div class="group">
						<label for="pass_sign_up" class="label">Password</label>
						<input id="pass_sign_up" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<label for="repeat_pass" class="label">Repeat Password</label>
						<input id="repeat_pass" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<label for="email" class="label">Email Address</label>
						<input id="email" type="text" class="input">
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign Up" onclick="sign_up()">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<label for="tab-1">Already Member?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		function check_user_sign_in(){
			var username = document.getElementById("user").value;
			if (username == ""){
				document.getElementById("user_onblur").innerHTML="Enter The Username !!";
				return false;
			}
			else{
				document.getElementById("user_onblur").innerHTML="";
				return true;
			}
		}

		function check_pass_sign_in(){
			var password = document.getElementById("pass").value;
			if (password == ""){
				document.getElementById("pass_onblur").innerHTML="Enter The Password !!";
				return false;
			}
			else{
				document.getElementById("pass_onblur").innerHTML="";
				return true;
			}
		}

		function sign_in(){
			var username = document.getElementById("user").value;
			var password = document.getElementById("pass").value;
			var action = "sign_in";
			var postreq = 'username='+username+'&password='+password+'&action='+action;
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4 && xhttp.status == 200) {
					var result = JSON.parse(xhttp.responseText);
					if(result["not_user"] == true ){
						alert("User or Password Is Incorrect !!")
					}
					else if (result["login"] ==  true){
						location.href = "/home/"
					}
					else if (result["user_pass_error"] == true){
						check_pass();
						check_user();
					}		 
					else if(result['username_error'] == true){
						check_user()
					}
					else if(result["pass_error"] == true){
						check_pass()
					}
					else{
						alert("Error in posting data")
					}
				}
			};
			xhttp.open("POST", "/user/sign_in/", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(postreq);
		}

		function sign_up(){
			var username = document.getElementById("user_sign_up").value;
			var password = document.getElementById("pass_sign_up").value;
			var repeat_pass = document.getElementById("repeat_pass").value;
			var email = document.getElementById("email").value;
			var action = "sign_up";
			if (repeat_pass === password && password.length >= 6){
				var postreq = 'username='+username+'&password='+password+'&email='+email+'&action='+action;
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (xhttp.readyState == 4 && xhttp.status == 200) {
						var result = JSON.parse(xhttp.responseText);
						if(result["error_len"] == true ){
							alert("Enter Username or Password !!")
						}
						else if (result["error_email"] ==  true){
							alert("Email is Incorrect !!")
						}
						else if (result["pass_error"] == true){
							alert("Password Must >=6")
						}
						else if (result["exist_user"] == true){
							alert("In Username Mojood Ast !!")
						}
						else if(result["register"] == true){
							alert("Register Successfull !!")
						}
						else{
							alert("Error in posting data")
						}
					}
				};
				xhttp.open("POST", "/user/sign_in/", true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.send(postreq);
			}
			else if(password.length < 6 ) {
				alert("Password Must >=6")
			}
			else {
				alert("pass dose not match")
			}
		}
	</script>

</body>
</html>
