body {
    margin:0;
    background:#c8c8c8;
}

span , label{
    font-size: 20px;
}

#articles {
    min-height: 924px;
}

#delete , #edit{
    height: 34px;
    width: 100px;
    padding: 0px;
    
}

#comment{
    height: 38px;
    width: 220px;
    padding: 0px;
    background-color: dimgray;
}

.button {
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 8px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button:hover{
    background-color: #3e8e41;
}

footer {
    padding: 10px;
    color: white;
    background-color: #2c2e30;
    clear: left;
    text-align: center;
    position: relative; /* for place footer in bottom */
    right: 0;
    bottom: 0;
    left: 0;
}

a.icon_margin {
    margin-left: 1%;
}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50 !important;
}

/* Full-width input fields */
input[type=text], input[type=password] , textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #a6a6a6;
    border-left: 4px solid black;
    border-radius: 2%;
    resize: none;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 9%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */g
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #c8c8c8;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Angcation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
    }
    .cancelbtn {
    width: 100%;
    }
}

button.accordion {
    background-color: #4CAF50;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 70%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 17px;
    transition: 1.2s;
}

div.panel {
    padding: 0px 0px 80px;
    background-color: #e8e8e8;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 70%;
    text-align: center;
    transition: 1s;
}

#show_article{
    margin: auto;
    padding-left: 19%;
    width: 65%;
}

.title_color{
    color: red;
    font-weight: bold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 85px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    height: 40px;
}

#myBtn:hover {
    background-color: #555;
}

#mySidenav p {
    position: absolute;
    left: -90px;
    transition: 0.9s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    margin-top: 100px;
    height: 20px;
    font-weight: 600;
}

#mySidenav p:hover {
    left: 0;
}

#clock {
    top: 20px;
    background-color: #4CAF50;
}

/* for page button */ 
#pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .8s;
    font-size: 21px;
}

#pagination a:hover {background-color:#4ab54d;}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: -11px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#show_edit_comment_article{
    display: block;
    margin: 9% -4% auto;
    width: 80%;
    border: 1px solid #b7b7b7;
    background-color: #b7b7b7;
}